@import "../../utils/mixins"
@import "../../utils/variables"

.main
    margin-top: 48px
    display: flex
    padding: 0px 40px

.list
    padding: 0px 12px
    display: grid
    gap: 20px 24px
    grid-template-columns: repeat(3, 1fr)
    flex-grow: 1

.restaurants
    display: flex
    flex-direction: column
    flex-grow: 1
    min-width: 800px
    width: 100%

.showMoreBtn
    @include btn
    font-size: 18px
    &:hover
        @include hoverInvert

.loadingItem
    min-width: 200px
    position: relative
    div
        height: 128px
    h3
        margin-top: 12px
        margin-bottom: 12px
        height: 14px
        width: 60%
    p
        margin-bottom: 12px
        height: 14px
        width: 40%
    .rating
        position: absolute
        right: 12px
        top: 136px
        border-radius: 50%
        height: 28px
        width: 28px

.showMore
    margin: 40px auto
    color: lightgray

.noResults
    margin: 0px auto

.filterDetailsSummary
    font-size: 36px
    user-select: none
    cursor: pointer
    list-style: none
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 8px
    &::-webkit-details-marker
        list-style: none
        display: none

.faChevron
    font-size: 20px
    color: $secondaryColor

@media screen and (max-width: 480px)
    .list
        grid-template-columns: repeat(1, 1fr)
    .main
        flex-direction: column
        margin-top: 20px
    .restaurants
        min-width: unset
    .noResults
        margin-top: 16px
    .showMore
        margin: 20px auto
